<div class="container mt-3">
  <!-- البحث عن المريض -->
  <div class="mb-3">
    <app-search-applicant (applicantSelected)="onApplicantSelected($event)"></app-search-applicant>
  </div>

  <!-- أزرار الإضافة بشكل أفقي -->
  <div class="button-group mb-3">
    <button class="btn btn-primary" (click)="addOrthopedicExam()">إضافة فحص العظام</button>
    <button class="btn btn-warning" (click)="addConsultation()">طلب استشارة</button>
    <button class="btn btn-success" (click)="addInvestigation()">طلب تحليل</button>
  </div>

  <!-- فورم فحص العظام -->
  <div *ngIf="showExamForm && selectedApplicant" class="mt-3">
    <app-orthopedic-exam-form [applicantFileNumber]="selectedApplicant.fileNumber"></app-orthopedic-exam-form>
  </div>

  <!-- فورم الاستشارة -->
  <div *ngIf="showConsultationForm && selectedApplicant" class="mt-3">
    <app-consultation-form [applicantFileNumber]="selectedApplicant.fileNumber" specializationID="3"></app-consultation-form>
  </div>

  <!-- فورم التحليل -->
  <div *ngIf="showInvestigationForm && selectedApplicant" class="mt-3">
    <app-investigation-form [applicantFileNumber]="selectedApplicant.fileNumber" specializationID="3"></app-investigation-form>
  </div>
</div>
