<aside class="sidebar" [class.collapsed]="collapsed">
  <div class="sidebar-header">
    <div class="logo">
      <img src="assets/images/syr.svg" alt="Logo" class="logo-img">
      <span class="logo-text">wooow</span>
    </div>
  </div>

  <ul class="menu">
    @if(role === 'Reception'){
    <li routerLink="/reception/applicants/add">
      <i class="pi pi-user-plus"></i>
      <span>إضافة منتسب</span>
    </li>

    <li routerLink="/reception/applicants">
      <i class="pi pi-user-plus"></i>
      <span>قائمة المنتسبين</span>
    </li>
    }
    @if(role === 'Admin'){
    <li>
      <i class="pi pi-chart-line"></i>
      <span>الإحصائيات</span>
    </li>
    <li routerLink="Admin/dashboard">
      <i class="pi pi-user-plus"></i>
      <span>قائمة المنتسبين</span>
    </li>
    }
    @if(role === 'Supervisor'){
    <li>
      <i class="pi pi-chart-line"></i>
      <span>تقييم المنتسب</span>
    </li>
    }
  </ul>
</aside>