<div class="container mt-3">
  <!-- عنصر البحث -->
  <div class="mb-3">
    <app-search-applicant (applicantSelected)="onApplicantSelected($event)"></app-search-applicant>
  </div>

  <!-- الأزرار -->
  <div class="button-group mb-3">
    <button class="btn btn-primary" (click)="addEyeExam()">
      إضافة فحص للعين
    </button>
    <button class="btn btn-secondary" (click)="requestConsultation()">
      طلب استشارة خارجية
    </button>
    <button class="btn btn-success" (click)="requestAnalysis()">
      طلب تحليل
    </button>
  </div>

  <!-- عرض النماذج حسب الاختيار -->
  <div *ngIf="showExamForm && selectedApplicant">
    <app-eye-exam-form [applicantFileNumber]="selectedApplicant!.fileNumber"></app-eye-exam-form>
  </div>

  <div *ngIf="showConsultationForm && selectedApplicant">
    <!-- هون بتحط الكمبوننت تبع الاستشارة -->
    <app-consultation-form [applicantFileNumber]="selectedApplicant!.fileNumber"></app-consultation-form>
  </div>

  <div *ngIf="showAnalysisForm && selectedApplicant">
    <!-- هون بتحط الكمبوننت تبع التحليل -->
    <app-investigation-form [applicantFileNumber]="selectedApplicant!.fileNumber"></app-investigation-form>
  </div>
</div>
