<div class="container mt-3">
  <!-- البحث عن المريض -->
  <div class="mb-3">
    <app-search-applicant (applicantSelected)="onApplicantSelected($event)"></app-search-applicant>
  </div>

  <!-- أزرار الإضافة -->
  <div class="button-group mb-3 d-flex gap-2">

<div class="button-group mb-3 d-flex gap-2">
            <button 
                class="btn btn-primary" 
                (click)="addEyeExam()" 
                *ngIf="!hasEyeExam && selectedApplicant">
                إضافة فحص للعين
              </button>
            <button 
              class="btn btn-warning" 
              (click)="addConsultation()"
              *ngIf="selectedApplicant">
              طلب استشارة
            </button>

            <button 
              class="btn btn-success" 
              (click)="addInvestigation()"
              *ngIf="selectedApplicant">
              طلب تحليل
            </button>
          </div>
  </div>

  <!-- مودال فحص العيون -->
  <app-eye-exam-form
    *ngIf="selectedApplicant"
    #eyeExamForm
    [applicantFileNumber]="selectedApplicant.fileNumber">
  </app-eye-exam-form>

  <!-- مودال الاستشارة -->
  <app-consultation-form
    *ngIf="selectedApplicant"
    [applicantFileNumber]="selectedApplicant.fileNumber"
    #consultationForm>
  </app-consultation-form>

  <!-- مودال التحليل -->
  <app-investigation-form
    *ngIf="selectedApplicant"
    #investigationForm
    [applicantFileNumber]="selectedApplicant.fileNumber">
  </app-investigation-form>
</div>
