<div class="container mt-3">
  <!-- عنصر البحث -->
  <div class="mb-3">
    <app-search-applicant (applicantSelected)="onApplicantSelected($event)"></app-search-applicant>
  </div>

  <!-- زر إضافة فحص للعين -->
  <div class="mb-3">
    <button class="btn btn-primary" (click)="addEyeExam()">
      إضافة فحص للعين
    </button>
  </div>

  <!-- عرض الفورم -->
  <div *ngIf="showExamForm && selectedApplicant">
<app-eye-exam-form [applicantFileNumber]="selectedApplicant!.fileNumber"></app-eye-exam-form>
</div>

</div>
